script(src="https://code.createjs.com/easeljs-0.6.0.min.js")
script(src="javascripts/showlist.js")
body
    canvas(id="testCanvas" width="240" height="64")
    button(id="Start" onclick="init();") Start
    button(id="Start" onclick="reset();") Start



